{% extends 'template.html' %}

{% load url from future %}

{% block active_about %}class="active"{% endblock %}

{% block content %}

      <h1>About this Site</h1>
      <p>We're committed to covering every proposition and candidate who will be on the ballot this year, and we plan to continually update the pages where we describe those ballots. This is where you can see what the page looked like yesterday. Or the day before.
      <h1>About NewsDiffs</h1>
      Newsdiffs was a project from a hackathon. TK.

{% endblock %}
