{% extends 'template.html' %}
{% load url from future %}

{% block active_front %}class="active"{% endblock %}

{% block content %}

{% include "find_by_uri.html" %}

<a href="/browse">
	<img src="" style="padding:10px; margin-left:25px; margin-top:10px; float:right" width="400">
</a>

<h1>Living Stories</h1><p>

<h2>NewsDiffs <a href="/browse">archives changes</a> in
articles after publication.<br> Currently, we track
{% for source in sources|slice:":-1" %}
<a href="{% url 'browse' source %}">{{source}}</a>,
{% endfor %}
and
<a href="{% url 'browse' sources|last %}">{{sources|last}}</a>.</h2>




<p>We're running this on a tool called Newsdiffs. If you are a developer, you can check out the original <a href="https://github.com/ecprice/newsdiffs">Newsdiffs code</a>.


{% endblock %}
